.navBar {
    font: 2em sans-serif;
    color: aliceblue;
    height: 12vh;
    background-color: black;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Center the items with space around them */
}

.logo {
    width: auto;
    display: inline-block;
}

.button {
    margin-bottom: 20px;
    padding: 10px 20px;
    stroke: none;
    color: aliceblue;
    width: auto;
    margin-left: 10px;
    background-color: #3498db;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
        outline: none;
        cursor: pointer;
        

}

.button:hover {
    background-color: #2980b9;
    /* Darker shade on hover */
    transform: scale(1.05);
    /* Slight scale increase on hover for a subtle effect */
}

.addButton {
background-color: #3498db;
    stroke: none;
    padding: 10px 20px;
    width: auto;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;    
    /* Smooth transition for text color on hover */
}

.addButton:hover {
    background-color: #2980b9;
        /* Darker shade on hover */
        transform: scale(1.05);
        /* Slight scale increase on hover for a subtle effect */
}   